/* Laptop Version [768; 1199] */
@media (max-width: 1199.5px) {
  .header {
    padding: 12px 20px 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 1000;
  }

  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo__img1 {
    position: absolute;
    left: 74px;
    top: 40px;
    cursor: pointer;
  }
  
  .header__logo__img2 {
    position: absolute;
  
    left: 74px;
    top: 53px;
    cursor: pointer;
  }
  
  .header__logo__img3 {
    position: absolute;
  
    left: 113px;
    top: 53px;
    cursor: pointer;
  }
  .start {
    padding: 191px 20px 0;
  }
  .start__border {
    left: 486px;
  }
  .start__box {
    left: 861px;
    top: 331px;
  }
  .start__all {
    left: 1099px;
    top: 358px;
  }
  .start img {
    
    width: 1170px;
  }
  .about {
    padding: 160px 20px 0;
  }
  .about__border {
    left: 100px;
  }
  .about__face{
    top: 340px;
    left: 830px;
  }
  .about__textBox{
    top: 500px;
    left: 950px;
  }
  .service {
    padding: 160px 20px 0;
  }

  .service__bgimg{
    left: 150px;
    width: 1020px;
  }

  .product {
    padding: 522px 20px 0;
  }
  .product__border{
    left: 100px;
  }
  .product__textBox1 {
    display: flex;
    gap: 819px;
    align-items: center;
  }
  .product__textBox2 {
    display: flex;
    gap: 777px;
    align-items: center;
  }
  .product__textBox3 {
    display: flex;
    gap: 823px;
    align-items: center;
  }
  .product__textBox4 {
    display: flex;
    gap: 755px;
    align-items: center;
  }
  .material {
    padding: 163px 20px 0;
    position: relative;
  }
  .material__border{
    left: 115px;
  }
  .material__img3 {
    position: absolute;
    top: 163px;
    left: 935px;
  }
  
  .material__img1 {
    position: absolute;
    top: 261px;
    left: 552px;
  }
  
  .material__img2 {
    position: absolute;
    top: 428px;
    left: 935px;
  }
  .contact {
    margin-top: 167px;
    max-width: 1350px;
    max-height: 250px;
    background: var(--blue);
  }
}
